.rating-label {
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
  margin-right: 5px;
  color: #999; /* Default color */
}

.rating-label input {
  display: none;
}

.rating-label.selected {
  color: #DC3545; 
}
